.Clock{

    font-family: $RelojFont;
    font-size: calc(32vmin);
    
}

.Hurry{
    color: $medium;
    animation: seconds infinite 1s linear;
}

.Hurryx2 {
    color: $finish;
    animation: seconds infinite .80s linear;
}

@keyframes seconds {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(.90);
    }
    100% {
        transform: scale(1);
    }
  }
